# ====== CORE ======
COMPOSE_PROJECT_NAME=valbug
TZ=Europe/Paris

# ====== POSTGRES ======
POSTGRES_USER=valtrack
POSTGRES_PASSWORD=change-me
POSTGRES_DB=valtrack
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://valtrack:change-me@db:5432/valtrack

# ====== API ======
SECRET_KEY=please-change-this
ACCESS_TOKEN_EXPIRE_MINUTES=43200
ALLOWED_ORIGINS=http://localhost:8080,http://localhost

# ====== FRONTEND ======
PUBLIC_API_BASE=/api
PUBLIC_BRAND=ValTrack

# ====== FIRST ADMIN (créé au 1er boot si absent) ======
ADMIN_EMAIL=admin@local
ADMIN_PASSWORD=adminadmin
